#raiderNation{
    background: url("../img/contactBackground.jpg");
    width: 100%;
    color: white;
    padding-bottom: 3rem;
    .container{
        max-width: 1250px;
        .header{
            padding: 2rem 0;
            h1{
                text-align: center;
                font-weight: 700;
                font-size: 10rem;
                text-transform: uppercase;
            }
        }

        .raiderContact{
            .newsLetter{
                display: inline-block;
                width: 49%;
                h3{
                    font-weight: 700;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
                p{
                    font-size: .7rem;
                    padding: .8rem 0;
                    color: #868889;
                }
                .contactInput{
                    input{
                        border: 3px solid #e3e5e6;
                        width: 70%;
                        line-height: 2.5;
                        font-size: 1rem;
                        padding-left: 15px;
                        &::placeholder{
                            color: #c4c4c4;
                            text-transform: capitalize;
                        }
                    }
                    .subscribeButton{
                        margin-left: 7px;
                        display: inline-block;
                        background: #868889;
                        line-height: 3;
                        font-size: 1rem;
                        padding: 0 2rem;
                        text-transform: uppercase;
                        font-weight: 700;
                        &:hover{
                            background: #c4c4c4;
                            color: black;
                        }
                    }
                }
            }
            .socialMedia{
                display: inline-block;
                width: 50%;
                text-align: center;
                ul{
                    li{
                        display: inline-block;
                        font-size: 3rem;
                        width: 100px;
                        height: 100px;
                        padding: 1rem;
                        margin: 0 1rem;
                        border: 2px solid #868889;
                        border-radius: 50%;
                        text-align: center;
                        position: relative;
                        &:nth-child(1){
                            a{
                                right: 35%;
                            }
                        }
                        &:nth-child(3){
                            a{
                                right: 28%;
                            }
                        }
                        &:hover{
                            background: white;
                            a{
                                color: black;
                            }
                        }
                        a{
                            position: absolute;
                            top: 26%;
                            right: 25%;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}


// LARGE TABLETS
@media only screen and (max-width: 1024px){
    #raiderNation{
        .container{
            max-width: 960px;
            .header{
                h1{
                    font-size: 5rem;
                }
            }
    
            .raiderContact{
                display: flex;
                justify-content: space-around;
                .newsLetter{
                    width: 64%;
                    text-align: center;
                    .contactInput{
                        input{
                            width: 70%;
                            line-height: 2;
                        }
                        .subscribeButton{
                            margin: 1.5rem 0 0 7px;
                        }
                    }
                }
                .socialMedia{
                    ul{
                        li{
                            margin: 0 1rem 1rem 1rem;
                        }
                    }
                }
            }
        }
    }
}


// TABLETS
@media only screen and (max-width: 960px){
    #raiderNation{
        .container{
            max-width: 960px;
            .header{
                h1{
                    font-size: 5rem;
                }
            }
    
            .raiderContact{
                display: flex;
                justify-content: space-around;
                .newsLetter{
                    width: 64%;
                    text-align: center;
                    .contactInput{
                        input{
                            width: 70%;
                            line-height: 2;
                        }
                        .subscribeButton{
                            margin: 1.5rem 0 0 7px;
                        }
                    }
                }
                .socialMedia{
                    ul{
                        li{
                            margin: 0 1rem 1rem 1rem;
                        }
                    }
                }
            }
        }
    }
}




// PHONES
@media only screen and (max-width: 767px){
    #raiderNation{
        .container{
            max-width: 767px;
            .header{
                h1{
                    font-size: 2.5rem;
                }
            }
    
            .raiderContact{
                display: inline-block;
                // justify-content: space-around;
                .newsLetter{
                    width: 100%;
                    text-align: center;
                    .contactInput{
                        input{
                            width: 70%;
                            line-height: 2;
                        }
                        .subscribeButton{
                            margin: 1.5rem 0 0 7px;
                        }
                    }
                }
                .socialMedia{
                    width: 100%;
                    ul{
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: center;
                        align-content: center;
                        li{
                            // display: flex;
                            // flex-flow: row wrap;
                            margin: 1.5rem 1rem 0 1rem;
                        }
                    }
                }
            }
        }
    }
}