

#topNav{
    width: 100%;
    .navHeader{
        width: 100%;
        background: #e3e5e6;
        .container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            max-width: 1600px;
            height: 3rem;
            div{
            padding: 0 .5rem;
            }
            a{
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: .9rem;
                padding-right: 1.5rem;
                h4{
                    &:hover{
                        border-bottom: 2px solid black;
                    }
                }
            }
            .menuButton{
                visibility: hidden;
                position: absolute;
            }
            .mobileMenu{
                display: none;
            }
            .navLeft{
                display: flex;
                flex-flow: row;
                justify-self: start;
            }
            .navMiddle{
                display: flex;
                flex-flow: row;
                align-self: center;
                justify-self: center;
                a{
                    font-size: .9rem;
                    padding-right: .3rem;
                    text-transform: uppercase;
                }
                #link{
                    text-decoration: underline;
                    text-transform: lowercase;
                    font-size: .8rem;
                    align-self: center;

                }
            }
            .navRight{
                display: flex;
                flex-flow: row;
                align-self: flex-end;
                justify-self: end;
                padding: 0;
                .cartInfo{
                    display: grid;
                    grid-template-columns: repeat(3, 2.5rem);
                    background: black;
                    color: #e3e5e6;
                    width: 9rem;
                    justify-content: center;
                    height: 3rem;
                    a{
                        align-self: center;
                        justify-self: center;
                        padding: 0;
                        font-size: 1rem;
                        color: white;
                        &:hover{
                            transform: scale(1.25);
                        }
                    }
                    .count{
                        color: black;
                        padding: 0;
                        align-self: center;
                        justify-self: center;
                        .countContainer{
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            background: #e3e5e6;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            h3{
                                font-size: 1.2rem;
                                font-weight: 700;
                            }
                        }
                    }
                    .price{
                        padding: 0;
                        align-self: center;
                        justify-self: center;
                    }
                }
            }
        }
    }

    .navSearch{
        border-bottom: 1px solid #e3e5e67a;
        .container{
            max-width: 1600px;
            padding: 0 2rem;
            display: grid;
            grid-template-columns: 1fr 8fr 1fr;
            grid-template-rows: 11rem;
            align-items: center;
            .inputContainer{
                justify-self: center;
                width: 90%;
                position: relative;
                input{
                    border: 3px solid #e3e5e6;
                    width: 96%;
                    line-height: 3;
                    font-size: 1rem;
                    padding-left: 15px;
                    border-radius: 5px;
                    &::placeholder{
                        color: #c4c4c4;
                    }
                }
                .fas{
                    font-size: 1.5rem;
                    position: absolute;
                    right: 3rem;
                    top: 8px;
                    padding: .5rem;
                }
            }
            .creditAd{
                text-align: center;
                a{
                    text-decoration: none;
                }
                img{
                    padding-top: 1.5rem;
                }
                h4{
                    font-size: .7rem;
                    font-weight: 600;
                    padding: 5px 0;
                    line-height: 1.25;
                }
            }
        }
    }

    .productNav{
        .container{
            position: relative;
            ul{
                width: 100%;
                height: 3.25rem;
                li{
                    display: inline-block;
                    font-size: 1.25rem;
                    padding: 1rem 1.25rem;
                    transition: all .2s ease-in-out 0;
                    &:hover{
                        text-decoration: underline;
                        .hoverMenu{
                            visibility: visible;
                        }
                    }
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #727272;
                        font-family: 'Open Sans Condensed', sans-serif;
                    }
                    .hoverMenu{
                        visibility: hidden;
                        padding: 1rem;
                        position: absolute;
                        top: 3.27rem;
                        left: 0;
                        z-index: 6;
                        background: white;
                        width: 90%;
                        height: 400px;
                        display: grid;
                        grid-template-rows: 9fr 1fr;
                        .divisionContainer{
                            display: flex;
                            flex-flow: row;
                            justify-content: space-between;
                            width: 100%;
                            .divisionChoice{
                                ul{
                                    display: flex;
                                    flex-flow: column;
                                    li{
                                        padding: .5rem 0;
                                        &:hover{
                                            border: none;
                                        }
                                        a{
                                            font-size: 1.1rem;
                                            font-weight: 700;
                                        }
                                    }
                                }
                            }
                            .divisionCard{
                                height: auto;
                                width: 100%
                                h3{
                                    padding: 10px 0;
                                    font-weight: bold;
                                    font-size: 1rem;
                                }
                                p{
                                    font-size: 1rem;
                                    font-weight: bold;
                                    color: #727272;
                                    a{
                                        &:hover{
                                            border-bottom: 1px solid black;
                                        }
                                    }
                                }
                            }
                        }
                        .divisionButton{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: black;
                            &:hover{
                                background: gray;
                            }
                            a{
                                color: white;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}


// LARGE TABLETS
@media only screen and (max-width: 1024px){
    #topNav{
        .navHeader{
            .container{
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                max-width: 1000px;
                .navMiddle{
                    display: none;
                }
            }
        }
    
        .navSearch{
            .container{
                grid-template-columns: 1fr;
                grid-template-rows: 11rem 3rem 8rem;
                justify-items: center;
            }
            .inputContainer{
                margin-left: 3rem;
            }
        }
    
        .productNav{
            .container{
                ul{
                    height: 6.5rem;
                    text-align: center;
                    li{
                        .hoverMenu{
                            top: 6.5rem;
                            .divisionContainer{
                                width: 737px;
                                overflow: auto;
                                .divisionChoice{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// TABLETS
@media only screen and (max-width: 960px) {
    #topNav{
        .navHeader{
            .container{
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                max-width: 960px;
                .navMiddle{
                    display: none;
                    position: absolute;
                }
                
            }
        }
    
        .navSearch{
            .container{
                grid-template-columns: 1fr;
                grid-template-rows: 11rem 3rem 8rem;
                justify-items: center;
                img{
                    height: auto;
                    width: 100%;
                }
                .inputContainer{
                    margin-left: 3rem;
                }
            }
        }
    
        .productNav{
            .container{
                ul{
                    height: 6.5rem;
                    text-align: center;
                    li{
                        .hoverMenu{
                            top: 6.5rem;
                            width: 100%;
                            .divisionContainer{
                                width: 100%;
                                overflow: auto;
                                .divisionChoice{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// PHONES
@media only screen and (max-width: 767px) {
    #topNav{
        .navHeader{
            .container{
                // grid-template-columns: repeat(2, 1fr);
                display: flex;
                justify-content: flex-end;
                width: 100%;
                max-width: 767px;
                position: relative;
                .menuButton{
                    visibility: visible;
                    padding: 1.5rem;
                    .fas{
                        font-size: 2rem;
                        // padding: 1.5rem;
                    }
                    ul{
                        li{
                            border-bottom: 2px solid gray;
                        }
                    }
                }
                .mobileMenu{
                    position: absolute;
                    top: 1px;
                    background: black;
                    color: white;
                    width: 100vw;
                    height: 100vh;
                    // display: none;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 50;
                    font-size: 2rem;
                    line-height: 1.75;
                    &.active{
                        display: flex;
                    }
                    .closeButton{
                        position: absolute;
                        right: 10px;
                        top: 1rem;
                        font-size: 2rem;
                        z-index: 100;
                        color: white;
                        i{
                            padding: .5rem;
                        }
                    }
                }
                .navLeft{
                    display: none;
                    position: absolute;
                }
                .navMiddle{
                    display: none;
                    position: absolute;
                }
                .navRight{
                    display: none;
                    position: absolute;
                }
            }
        }
    
        .navSearch{
            .container{
                grid-template-columns: 1fr;
                grid-template-rows: 7rem 2rem 5.5rem;
                justify-items: center;
                max-width: 767px;
                .inputContainer{
                    margin-left: 0;
                    padding: 0;
                    width: 100%;
                    input{
                        width: 100%;
                        line-height: 3;
                        font-size: .8rem;
                        padding-left: 15px;
                    }
                    .fas{
                        right: .7rem;
                        top: 3px;
                    }
                }
                .creditAd{
                    // text-align: center;
                    // padding: 6rem 0;
                    a{
                        text-decoration: none;
                    }
                    img{
                        padding-top: 1.5rem;
                        width:60%;
                        height: auto;
                    }
                    h4{
                        font-size: .5rem;
                        font-weight: 600;
                        padding: 5px 0;
                        line-height: 1.25;
                    }
                }
            }
        }
    
        .productNav{
            .container{
                max-width: 767px;
                ul{
                    height: 8.5rem;
                    text-align: center;
                    li{
                        font-size: 1rem;
                        padding: .8rem .5rem;
                        .hoverMenu{
                            top: 7rem;
                            width: 100%;
                            .divisionContainer{
                                width: 100%;
                                overflow: auto;
                                .divisionChoice{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
